.messageItem {
    margin: 0 auto;
    width: 400px;
    height: 160px;
}

.date {
    float: right;
}

.spacing {
    line-height: 30px;
}

.messageListBox {
    width: 40%;
    margin: 30px 400px;
}